<div class="form-container">
  <h1>Додати продукт</h1>
  <form class="product-form" action="/shop/admin/product/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Назва продукту:</label>
      <input type="text" name="title" id="title" placeholder="Введіть назву" required />
    </div>

    <div class="form-group">
      <label for="description">Опис:</label>
      <textarea name="description" id="description" placeholder="Введіть опис" required></textarea>
    </div>

    <div class="form-group">
      <label for="price">Ціна:</label>
      <input type="number" name="price" id="price" placeholder="Введіть ціну" required />
    </div>

    <div>
      <label for="productImg">Фото продукту:</label>
      <input type="file" name="productImg" id="productImg" accept="image/*" />
    </div>

    <div class="form-group">
      {{#if categories.length}}
      <label for="categoryTitle">Виберіть потрібну категорію:</label>
      <select id="categoryTitle" name="existingCategory">
        <option value="">Виберіть категорію</option>
        {{#each categories}}
        <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>

      <label for="newCategory">Якщо немає потрібної категорії, створіть:</label>
      <input type="text" name="newCategory" id="newCategory" placeholder="Введіть назву категорії" />
      {{else}}
      <label for="newCategory">Нова категорія:</label>
      <input type="text" name="newCategory" id="newCategory" placeholder="Введіть назву категорії" required />
      {{/if}}
    </div>

    <button class="button-primary" type="submit">Додати продукт</button>
  </form>
</div>